# Backend
backend/venv/
backend/db.sqlite3
backend/__pycache__/
backend/**/__pycache__/
backend/**/migrations/__pycache__/
*.pyc

backend/.venv/
frontend/node_modules/
__pycache__/
*.pyc
dist/
build/
.env

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env

# Editor / OS
.DS_Store
.vscode/
*.log
